.heading {
    text-align: center;
    margin-top: 20px;

}



body {
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.navbar ul {
    list-style: none;
    background: black;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 200px;
    display: block;
    padding: 20px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}






.navbar a:hover {
    background: pink;

}

.image-container {
    background-image: url("../images/mainbackgroundimages/7.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.inner-container {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
}

h3 {
    font-size: 7em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h3 {
    margin-top: -17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}


.coffee {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

}

.coffee:hover,
.coffee:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;

}

@media only screen and (max-width:920px) {
    .inner-container {
        margin-top: 100px;
    }
}

@media only screen and (max-width:540px) {
    .inner-container {
        margin: 150px;
    }

    h2 {
        font-size: 5em;
    }

    h3 {
        font-size: 1.4em;
    }

}



h2 a {
    display: grid;
    height: 40px;
    font-weight: bold;
    background: #ccc;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background: linear-gradient(#ccc,
            #ccc);
    position: relative;
    top: 0;
    place-items: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;


}

h2 {
    margin-bottom: 30px;
    margin-top: 30px;
}





canvas {
    display: block;

}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
}

/* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, gray, white, whitesmoke);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

/* ================= Header ============ */
header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* navbar */
nav {
    color: #FFF;
    float: right;
    margin: 30px 90px;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    transition: .3s;
}

nav ul li a {
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left: 16px;
}

nav ul li:hover a {
    text-decoration: none;
    color: #591BC5;
    ;
}

nav ul li:hover {
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
    background: white;
    text-decoration: none;
    transform: skew(15deg);
}

/* Logo */
.logo {
    width: 35px;
    height: 35px;
    background: pink;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
}

.logo span {
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
}

/* Header content & title & button*/
.header-content {
    margin-top: 25%;
    text-align: center;
    color: #EFEEF5;
}

.header-content h1 {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}

.header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
}

.header-content button {
    width: 140px;
    margin: 20px 10px;
    color: #591BC5;
    font-size: 17px;
    border: 1px solid white;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.header-content button:hover {
    border-radius: 0;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.scene {
    position: relative;
    perspective: 1500px;
    margin: auto;
    width: 400px;
    height: 200px;
}



.image-contain {
    background-image: url("../images/background/background3.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-contain {
    text-align: center;
    position: absolute;
    width: 80%;
    color: white;
    height: auto;
    margin-top: 200px;
}

.image-fashion {
    background-image: url("../images/fashionimages/1.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.inner-contain {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
}




.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: pink;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}